@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); 
  }
  100% {
    transform: translateY(0); 
  }
}

.float1 {
  animation: floatUpDown 2s ease-in-out infinite;
}

.float2 {
  animation: floatUpDown 3s ease-in-out infinite;
}

.float3 {
  animation: floatUpDown 4s ease-in-out infinite;
}

@keyframes scaleUp{
  0% {
    transform: scale(0.0) translateY(100%);
    opacity: 0;
  }
  100%{
    transform: scale(1) translateY(0.0);
    opacity: 1;
  }
}

.scale{
  animation: scaleUp 0.3s ease-in-out forwards;
}

@keyframes closeWindow {
  0% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  100% {
    transform: scale(0) translateY(100%); 
    opacity: 0;
  }
}

.close {
  animation: closeWindow 0.5s ease-in-out forwards; 
}

