.background_loading{
  background-image: url('../assets/backgrounds/bg1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transition: background-color 0.5s ease; 
}

.container_loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.text_loading{
  font-size: 2rem;
  color: var(--text-color);
}